## Plantilla para el correo de activación de cuenta

<html>
  <body>
    <h3>Estimado ${user.email},</h3>
    <div>
      Bienvenido a la comunidad de usuarios de <b>eLibrary</b> la libreria digital
      de la Universidad Vasco de Quiroga.
    </div>
    <div>
      Para que puedas comenzar a usar el sitio es necesario que actives tu cuenta haciendo click en el siguiente enlace:
      <a href="${activationURL}?accion=activar&correoElectronico=${user.email}&codigoActivacion=${user.activationCode}">
        ${activationURL}?accion=activar&correoElectronico=${user.email}&codigoActivacion=${user.activationCode}"
      </a>
    </div>
  </body>
</html>
