<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/mx/edu/uvaq/elibrary/spring/application-beans.xml
            classpath:/mx/edu/uvaq/elibrary/spring/application-dao.xml
            classpath:/mx/edu/uvaq/elibrary/spring/application-service.xml
            classpath:/mx/edu/uvaq/elibrary/spring/application-web.xml
    </param-value>
    </context-param>
    <!--    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>mx.edu.uvaq.elibrary.i18n.MensajesELibrary</param-value>
    </context-param>-->
    <context-param>
        <param-name>db.tcpServer</param-name>
        <param-value>-tcpAllowOthers</param-value>
    </context-param>
    <filter>
        <filter-name>FlashScopeFilter</filter-name>
        <filter-class>mx.edu.uvaq.elibrary.presentacion.filtro.FlashScopeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FlashScopeFilter</filter-name>
        <url-pattern>/*</url-pattern>
     </filter-mapping>
    <filter>
        <filter-name>LibroFormaFiltro</filter-name>
        <filter-class>mx.edu.uvaq.elibrary.presentacion.filtro.LibroFormaFiltro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LibroFormaFiltro</filter-name>
        <servlet-name>controlador-carga-libro</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>org.h2.server.web.DbStarter</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
      <listener-class>mx.edu.uvaq.elibrary.presentacion.listener.SpringWebApplicationContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>vista-registro</servlet-name>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vista-usuarios</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/usuarios.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vista-editoriales</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/editoriales.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vista-categorias</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/categorias.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vista-inicio</servlet-name>
        <jsp-file>/WEB-INF/jsp/inicio.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vista-inicio-administracion</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/inicioAdministracion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>controlador-registro</servlet-name>
        <servlet-class>mx.edu.uvaq.elibrary.presentacion.controlador.RegistroControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlador-cerrar-sesion</servlet-name>
        <servlet-class>mx.edu.uvaq.elibrary.presentacion.controlador.CerrarSesionControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlador-carga-libro</servlet-name>
        <servlet-class>mx.edu.uvaq.elibrary.presentacion.controlador.CargaLibroControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElibraryFrontController</servlet-name>
        <servlet-class>mx.edu.uvaq.elibrary.presentacion.controlador.ElibraryFrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador-registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controlador-usuarios</servlet-name>
        <servlet-class>mx.edu.uvaq.elibrary.presentacion.controlador.UsuariosControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador-usuarios</servlet-name>
        <url-pattern>/admin/usuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controlador-libros</servlet-name>
        <servlet-class>mx.edu.uvaq.elibrary.presentacion.controlador.LibrosControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador-libros</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controlador-categorias</servlet-name>
        <servlet-class>mx.edu.uvaq.elibrary.presentacion.controlador.CategoriasControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador-categorias</servlet-name>
        <url-pattern>/admin/categorias</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controlador-editoriales</servlet-name>
        <servlet-class>mx.edu.uvaq.elibrary.presentacion.controlador.EditorialesControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador-editoriales</servlet-name>
        <url-pattern>/admin/editoriales</url-pattern>
    </servlet-mapping>
    <!--    <servlet>
        <servlet-name>controlador-inicio</servlet-name>
        <servlet-class>mx.edu.uvaq.elibrary.presentacion.controlador.InicioControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador-inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jspf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlador-cerrar-sesion</servlet-name>
        <url-pattern>/inicio/cerrar-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlador-carga-libro</servlet-name>
        <url-pattern>/admin/controlador-carga-libro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElibraryFrontController</servlet-name>
        <url-pattern>/admin/autores/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/WEB-INF/jsp/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/jsp/login.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>administrador</role-name>
    </security-role>
    <security-role>
        <role-name>estudiante</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>paginas-usuarios</web-resource-name>
            <description/>
            <url-pattern>/inicio</url-pattern>
            <url-pattern>/inicio/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>paginas-administrativas</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrador</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
